html {
    padding: 0;
    margin: 0;
 }

body {
    background-color: gray;
    color: white;
    padding: 0;
    margin: 0;
}

.photo-page {
    background-color: #000;
}
.experience {
    background-color: #56b3d9;
}

.container {
    padding: 200px;
}

header {
    font-size: 48px;
}

nav {
    border-bottom: 3px solid #158597;
    background-color: #2de2e6;

}


ol {
    list-style: lower-alpha;
}


ul {
    list-style: square;
}

nav ul {
    list-style: none;
    display: block;
    padding: 30px;
  }


  
nav ul li {
    float: right;
}

  li a {
 
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    text-decoration: none;
  }

span {
    color: lightblue;
    font-family: "Comic Sans MS";
    font-size: 24px;
   
}

header, footer {
    text-align: center;
    padding: 25px;
}

footer {
    padding-top: 100px;
}

img {
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px;
    width: 300px;
    height: auto;
}

p {
    border-radius: 8px;
    background-color: #f3eeeb;
    border: 1px solid white;
    padding: 10px;
    color: gray;

}

a:hover {
    color: #158597;
    font-size: 19px;
    
}